numpy 
pandas 
seaborn
duckdb
pydantic
great_expectations
pyarrow
scikit-learn
xgboost
plotly 
kaleido  
pytest 
pytest-mock
fastapi
uvicorn
pydantic-settings
streamlit==1.29.0
requests==2.31.0
plotly==5.18.0
altair==5.0.1
